<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body ng-app>
    <div class="container-fluid">
      <div class="row">
        <div class="xs-sm-6">
          <div class="userLoginIn">
            <input type="text" placeholder="UserName / emailId">
            <input type="password" placeholder="password">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
