<script type='text/template' id='views/users/registration'>
  <form action="" method="post" name="form3" class="style7" id="form3">
  <div align="center"></div>
  <div align="left"></div>
  <table width="738" align="center" bgcolor="#FFFFFF" border="1" cellpadding="0">
    <tbody><tr bgcolor="#666666">
      <td scope="col" width="746"><table width="738" align="left" bordercolor="#000000">
        <tbody><tr>
          <th scope="col" bgcolor="#FFFFFF"><p class="style14" align="center"><img src="Patient%20Registration%20Form_files/stonebrooke.jpg" height="97" width="737"></p>          </th>
        </tr>
        
        
      </tbody></table></td>
    </tr>
    <tr>
      <th class="style15" scope="row">Patient Registration Form</th>
    </tr>
    <tr bgcolor="#999999">
      <th class="style18" scope="row" height="25">Patient Information</th>
    </tr>
    <tr bgcolor="#CCCCCC">
      <td scope="row"><table width="747" align="left" border="0">
        <tbody><tr>
          <td scope="col" width="265" bgcolor="#CCCCCC"><span class="style9">
            <label for="label"></label></span><div align="center"><span class="style9">
            <label for="label"><strong>Home Phone:</strong></label>
            <input name="label" id="label" size="18" maxlength="18" type="text">
            </span></div>
            <span class="style9">        </span></td>
          <th scope="col" width="233" bgcolor="#CCCCCC"><span class="style9">
            <label for="label2"></label>
          
                <label for="label2"><strong>Cell Phone:</strong></label>
                <input name="label2" id="label2" size="18" maxlength="18" type="text">
          </span></th>
          <th scope="col" width="235" bgcolor="#CCCCCC"> <span class="style9">
          <label for="label4"><strong>Work Phone:</strong></label>
          </span>
            <input name="label3" id="label4" size="18" maxlength="18" type="text"></th>
        </tr>
      </tbody></table></td>
    </tr>
    <tr bgcolor="#CCCCCC">
      <td scope="row"><table width="749" align="left" border="0">
          <tbody><tr>
            <td scope="col" width="250" bgcolor="#CCCCCC"><span class="style9">
              <label for="label3"></label>
              </span>
                <div align="center"><span class="style9">
                  <label for="label3"><strong>First Name</strong></label>
                  <input name="label" id="label3" size="30" maxlength="30" type="text">
                </span></div>
              <span class="style9"> </span></td>
            <th scope="col" width="226" bgcolor="#CCCCCC"><span class="style9">
              <label for="label5"></label>
              <label for="label5"><strong>Middle Name</strong></label>
              <input name="label6" id="label5" size="30" maxlength="30" type="text">
            </span></th>
            <th scope="col" width="259" bgcolor="#CCCCCC"> <span class="style9">
              <label for="label6"><strong>Last Name</strong></label>
              </span><span class="style9">
              <input name="label7" id="label6" size="30" maxlength="30" type="text">
              </span></th>
          </tr>
      </tbody></table></td>
    </tr>
    <tr bgcolor="#CCCCCC">
      <th scope="row"><table width="738" align="left" border="0">
          <tbody><tr>
            <td scope="col" width="328" bgcolor="#CCCCCC"><span class="style9">
              <label for="label7"></label>
              </span>
                <div align="center"><span class="style9">
                  <label for="label7"><strong>Home Address</strong></label>
                  <input name="label" id="label7" size="40" maxlength="40" type="text">
                </span></div>
              <span class="style9"> </span></td>
            <th scope="col" width="182" bgcolor="#CCCCCC"><span class="style9">
              <label for="label8"></label>
              <label for="label8"><strong>City</strong></label>
              <input name="label" id="label8" size="25" maxlength="25" type="text">
            </span></th>
            <th scope="col" width="101" bgcolor="#CCCCCC"><span class="style9">
              <label for="label9"><strong>State</strong></label>
              <input name="label4" id="label9" size="10" maxlength="10" type="text">
            </span></th>
            <th scope="col" width="109" bgcolor="#CCCCCC"><div align="center"><span class="style9">
              <label for="label10"><strong>Zip Code</strong></label>
              <input name="label5" id="label10" size="10" maxlength="10" type="text">
            </span></div></th>
          </tr>
      </tbody></table></th>
    </tr>
    <tr>
      <td scope="row" bgcolor="#CCCCCC"><table width="738" align="center" border="0">
        <tbody><tr>
          <td width="141"><div class="style13" align="center">Date of Birth</div></td>
          <td bordercolor="#000000" valign="top" width="164" bgcolor="#CCCCCC"><div class="style13" align="center">Sex</div></td>
          <td width="218"><div class="style9" align="center"><strong>Marital Status</strong></div></td>
          <td width="197"><div class="style9" align="center"><strong>Social Security Number</strong></div></td>
          </tr>
        <tr>
          <td height="25"><div align="center">
            <input name="textfield7" class="style10" id="textfield14" size="15" maxlength="15" type="text">
          </div></td>
          <td bordercolor="#000000" valign="top" bgcolor="#CCCCCC"><input name="checkbox9" id="checkbox9" type="checkbox">
            Male 
              <input name="checkbox10" id="checkbox10" type="checkbox">
              Female</td>
          <td><input name="checkbox11" id="checkbox11" type="checkbox">
            Single
              <input name="checkbox12" id="checkbox12" type="checkbox">
              Married
              <input name="checkbox13" id="checkbox13" type="checkbox">
              Divorced</td>
          <td><div align="center">
            <input name="textfield8" class="style10" id="textfield17" size="15" maxlength="15" type="text">
          </div></td>
          </tr>
        
      </tbody></table></td>
    </tr>
    <tr bgcolor="#CCCCCC">
      <th scope="row"><table width="747" align="left" border="0">
          <tbody><tr>
            <td scope="col" width="368" bgcolor="#CCCCCC"><span class="style9">
              <label for="label6"></label>
              </span>
              <div align="center"><span class="style9">
                Employer
                <input name="textfield4" id="textfield7" size="45" maxlength="45" type="text">
              </span></div></td>
            <th scope="col" width="360" bgcolor="#CCCCCC"><span class="style9">Employer Address
                <input name="textfield5" id="textfield8" size="45" maxlength="45" type="text">
            </span></th>
            </tr>
      </tbody></table></th>
    </tr>
    <tr bgcolor="#999999">
      <th class="style18" scope="row" height="25">Insurance Information</th>
    </tr>
    <tr>
      <td scope="row" bgcolor="#CCCCCC"><table width="738" align="center" border="0">
          <tbody><tr>
            <td colspan="4"><div class="style13" align="center">Primary Insurance Information</div>            <div class="style9" align="center"></div></td>
            </tr>
          <tr>
            <td width="212"><div align="center">Insurance Company
                <input name="textfield9" class="style10" id="textfield13" size="30" maxlength="30" type="text">
            </div></td>
            <td bordercolor="#000000" valign="top" width="212" bgcolor="#CCCCCC"><div align="center">
              Card Holder Name
              <input name="textfield10" class="style10" id="textfield15" size="30" maxlength="30" type="text">
            </div></td>
            <td width="126"><div align="center">Card Holder DOB
                <input name="textfield13" class="style10" id="textfield16" size="10" maxlength="10" type="text">
            </div></td>
            <td width="170"><div align="center">Card Holder Id#
                <input name="textfield14" class="style10" id="textfield18" size="15" maxlength="15" type="text">
            </div></td>
          </tr>
      </tbody></table></td>
    </tr>
    <tr>
      <td scope="row" bgcolor="#CCCCCC"><table width="738" align="center" border="0">
          <tbody><tr>
            <td colspan="4"><div class="style13" align="center">Secondary Insurance Information</div>
                <div class="style9" align="center"></div></td>
          </tr>
          <tr>
            <td height="25" width="134"><div align="center">Insurance Company
              <input name="textfield2" class="style10" id="textfield2" size="30" maxlength="30" type="text">
            </div></td>
            <td bordercolor="#000000" valign="top" width="212" bgcolor="#CCCCCC"><div align="center"> Card Holder Name
              <input name="textfield3" class="style10" id="textfield3" size="30" maxlength="30" type="text">
            </div></td>
            <td width="140"><div align="center">Card Holder DOB
              <input name="textfield2" class="style10" id="textfield4" size="10" maxlength="10" type="text">
            </div></td>
            <td width="234"><div align="center">Card Holder Id#
                <input name="textfield2" class="style10" id="textfield6" size="15" maxlength="15" type="text">
            </div></td>
          </tr>
      </tbody></table></td>
    </tr>
    <tr bgcolor="#999999">
      <th class="style18" scope="row" height="25">Emergency Contact Information</th>
    </tr>
    <tr>
      <td scope="row" bgcolor="#CCCCCC"><table width="738" align="center" border="0">
          <tbody><tr>
            <td width="716"><div class="style13" align="center">In Case of an Emergency Please Contact the Following:</div>
                <div class="style9" align="center"></div></td>
          </tr>

      </tbody></table></td>
    </tr>
    <tr>
      <td scope="row" bgcolor="#CCCCCC"><table width="738" align="center" border="0">

          <tbody><tr>
            <td height="25" width="226"><div align="center">Name
              <input name="textfield2" class="style10" id="textfield9" size="50" maxlength="50" type="text">
            </div></td>
            <td bordercolor="#000000" valign="top" width="86" bgcolor="#CCCCCC"><div align="center">Relationship
              <input name="textfield2" class="style10" id="textfield10" size="10" maxlength="30" type="text">
            </div></td>
            <td width="135"><div align="center">Home Phone
                <input name="textfield2" class="style10" id="textfield11" size="15" maxlength="10" type="text">
            </div></td>
            <td width="134"><div align="center">Cell Phome
                <input name="textfield2" class="style10" id="textfield12" size="15" maxlength="10" type="text">
            </div></td>
            </tr>
      </tbody></table></td>
    </tr>
    <tr>
      <td scope="row" bgcolor="#CCCCCC">Whom may we thank for referring you? 
        <input name="textfield11" class="style10" id="textfield24" size="50" maxlength="50" type="text"></td>
    </tr>
  </tbody></table>
  <p style="page-break-before: always">
  </p><div align="right"></div>
  <table width="738" align="center" border="1" bordercolor="#000000">
    <tbody><tr bgcolor="#CCCCCC">
      <td scope="row"><table width="745" align="left" border="0" cellpadding="0">
        <tbody><tr>
          <td height="260" valign="top" width="741" align="left"><p class="style13" align="justify">I
  UNDERSTAND THAT EVERY ATTEMPT WILL BE&nbsp; MADE&nbsp; TO&nbsp; 
  VERIFY&nbsp; MY&nbsp; INSURANCE,  BUT IF THAT IS NOT POSSIBLE I MAY BE 
  HELD RESPONSIBLE FOR TODAY’S SERVICES.</p>
            <p class="style13" align="justify">I AUTHORIZE STONEBROOKE FAMILY PHYSICIANS TO PROVIDE MEDICAL TREATMENT FOR MY CHILD OR MYSELF.</p>
            <p class="style13" align="justify">THE INFORMATION THAT I HAVE
  GIVEN IS CORRECT TO THE BEST OF MY KNOWLEDGE.&nbsp; I UNDERSTAND THAT 
  IT WILL BE HELD IN STRICTEST CONFIDENCE AND IT IS MY RESPONSIBILITY TO 
  INFORM THIS OFFICE OF ANY CHANGES IN STATUS.</p>
            <p class="style13" align="justify">I CERTIFY THAT I / MINOR 
  CHILD AM COVERED BY THE ABOVE LISTED INSURANCE (S) AND ASSIGN DIRECTLY 
  TO STONEBROOKE FAMILY PHYSICIANS, P.L.L.C.&nbsp; ALL INSURANCE BENEFITS,
  IF ANY, OTHERWISE PAYABLE TO ME FOR SERVICES RENDERED.</p>
            <p class="style13" align="justify">I UNDERSTAND THAT I AM FINANCIALLY RESPONSIBLE FOR ALL CHARGES WHETHER OR NOT PAID BY INSURANCE.</p>
            <p class="style13" align="justify">I HEREBY AUTHORIZE THE 
  DOCTOR TO RELEASE ALL INFORMATION NECESSARY TO SECURE PAYMENT OF 
  BENEFITS.&nbsp; I AUTHORIZE THE USE OF THIS SIGNATURE ON ALL MY 
  INSURANCE SUBMISSIONS, WHETHER MANUAL OR ELECTRONIC.</p></td>
        </tr>
      </tbody></table>      <p class="style16" align="justify">&nbsp;</p>      </td>
    </tr>
    <tr>
      <th scope="row" bgcolor="#CCCCCC">
        <p align="justify">I AUTHORIZE THAT ALL ASPECTS OF MY MEDICAL CARE INCLUDING LAB / TEST RESULTS MAY BE DISCUSSED WITH THE FOLLOWING PEOPLE:</p>      <p align="justify">No One But Myself
          <input name="checkbox14" id="checkbox14" type="checkbox">
        PLEASE CHECK IF MEDICAL CARE IS ONLY TO BE DISCUSSED WITH THE PATIENT.</p></th>
    </tr>
    <tr bgcolor="#CCCCCC">
      <th scope="row" bgcolor="#FFFFFF"><table width="738" border="0">
        <tbody><tr>
          <td width="288"><span class="style9">
            <label for="label9"></label>
            <div align="center"><span class="style10">Name of Authorized Person 
              <input name="textfield20" id="textfield20" size="40" maxlength="40" type="text">
            </span></div>
            </span></td>
          <td width="131"><div align="center">Date of Birth 
            <input name="textfield21" id="textfield21" size="10" maxlength="10" type="text">
          </div></td>
          <td width="305"><div align="center">Relationship to Patient 
            <input name="textfield6" id="textfield22" size="10" maxlength="10" type="text">
          </div></td>
          <td width="305">&nbsp;</td>
        </tr>
      </tbody></table></th>
    </tr>
    <tr bgcolor="#CCCCCC">
      <th scope="row" bgcolor="#FFFFFF"><table width="738" border="0">
          <tbody><tr>
            <td width="288"><span class="style9">
              <label for="label9"></label>
              <div align="center"><span class="style10">Name of Authorized Person
                <input name="textfield" id="textfield" size="40" maxlength="40" type="text">
              </span></div>
            </span></td>
            <td width="131"><div align="center">Date of Birth
              <input name="textfield" id="textfield5" size="10" maxlength="10" type="text">
            </div></td>
            <td width="305"><div align="center">Relationship to Patient
              <input name="textfield" id="textfield23" size="10" maxlength="10" type="text">
            </div></td>
            <td width="305">&nbsp;</td>
          </tr>
      </tbody></table></th>
    </tr>
    <tr>
      <td scope="row" height="32">&nbsp;</td>
    </tr>
    <tr>
      <td scope="row" height="32"><table width="738" border="0">
          <tbody><tr>
            <td width="10">&nbsp;</td>
            <td width="718"><span class="style17">SIGNATURE OF PATIENT (PARENT/GUARDIAN) 
              <input name="textfield25" id="textfield25" size="30" maxlength="30" type="text">
            </span><strong> Date </strong>
            <input name="textfield26" id="textfield26" size="15" maxlength="15" type="text"></td>
          </tr>
      </tbody></table></td>
    </tr>
    <tr>
      <th scope="row"><input name="Print" onclick="window.print();return false" value="Print Form" type="button"></th>
    </tr>
  </tbody></table>
  <div align="left"></div>
  <div align="center"></div>
  </form>
</script>